$backgroundColor: #f5f5f5;
$mainColor: #646466;
$borderColor: #cccccc;
$mainTextColor: #ffffff;
$secondTextColor: #dddddd;
$bodyTextColor: #666666;
$bodyBackgroundColor: #f5f5f5;
$cardBackgroundColor: #ffffff;
$cardTextColor: #555555;
